.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color:#3174ad;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.rbc-toolbar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  margin-top: 10px;
  align-items: center;
  margin-bottom: 10px;
  font-size: 16px;
}
/* .rbc-calendar {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: absolute;
} */
.modal{ display:block; }
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
